<!DOCTYPE html>
<html>

<head>
  <title>DOSO</title>
</head>

<body>
  <h1><%= timestamp %>销售情况</h1>
  <h3>销售总额：<%= totalAmount %> 元</h3>
  <h3>本月预计支出：<%= currentTotalAmount %> 元</h3>
  <h3>本月兑付金额：<%= currentRefund %> 元</h3>
  <h3>本月设备租金：<%= currentMonthRent %> 元</h3>
  <h3>本月应售设备金额：<%= currentMonthIncome %> 元</h3>
  <h3>本月预计运营费用：<%= operatingAmount %> 元</h3>
</body>

</html>
